<div>
  <h1 style="text-align: center; margin-top: -15px;margin-bottom: 30px;">Drivers</h1>
</div>
<div class="table-container">

  <table>
    <thead>
    <th>View</th>
    <th>Name</th>
    <th>Number</th>
    </thead>
    <tbody>
      <tr *ngFor="let driver of drivers">
        <td><a [routerLink]="['/drivers', driver.id]" (click)="showDriverDetails(driver)">View</a></td>
        <td>{{ driver.name }}</td>
        <td>{{ driver.number }} ({{ driver.team }})</td>
      </tr>
    </tbody>
  </table>
</div>

<app-driver-add-form></app-driver-add-form>
<!--<h1>Drivers</h1>
<div *ngIf="selectedDriver">
<h3>Name: {{ selectedDriver.name }}</h3>
<p>Number: {{ selectedDriver.number }}</p>
<p>Team: {{ selectedDriver.team }}</p>-->
