<a routerLink="/drivers">Drivers Listing</a>

<h2>Drivers</h2>
<table>
  <thead>
  <th>View</th>
  <th>Name</th>
  <th>Number</th>
  </thead>
  <tbody>
  <tr *ngFor="let driver of drivers">
    <td><a [routerLink]="['/drivers', driver.id]" (click)="showDriverDetails(driver)">View</a></td>
    <td>{{ driver.name }}</td>
    <td>{{ driver.number }} ({{ driver.team }})</td>
  </tr>
  </tbody>
</table>


<div *ngIf="selectedDriver">
  <h3>Name: {{ selectedDriver.name }}</h3>
  <p>Number: {{ selectedDriver.number }}</p>
  <p>Team: {{ selectedDriver.team }}</p>
  <button (click)="goBack()">Back</button>
</div>
